/* Estilo general */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Encabezado */
.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: center;
    flex-grow: 1;
}

.nav-menu {
    display: flex;
    gap: 20px;
    flex-grow: 2;
    justify-content: center;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-menu ul li {
    margin-right: 20px;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Título de bienvenida */
h1 {
    color: #333;
    font-size: 24px;
    margin: 20px;
}

/* Sección principal */
main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

/* Botones de Accesos Rápidos */
.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.btn:hover {
    background-color: #555;
}

/* Estilos para Acciones */
a {
    color: #333;
}

a:hover {
    color: #555;
}
